ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/Eclipse/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/Debug/makefile
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/Debug/objects.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/Debug/sources.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/Debug/src/main.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/Debug/src/main.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/Debug/src/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/.settings/org.eclipse.embedcdt.debug.gdbjtag.openocd.core.prefs
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/.settings/org.eclipse.embedcdt.managedbuild.cross.arm.core.prefs
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/.settings/org.eclipse.embedcdt.managedbuild.cross.core.prefs
ARM/Nordic/nRF52/nRF52840/exemples/TPHSensorTag/Eclipse/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/TPHDemo/Eclipse/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/ESBptx/Eclipse/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/ESBprx/Eclipse/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/dfu_usb_open/Eclipse/.settings/language.settings.xml
