ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/Eclipse/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/Debug/makefile
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/Debug/objects.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/Debug/sources.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/Debug/src/main.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/Debug/src/main.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/Debug/src/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/.settings/org.eclipse.embedcdt.debug.gdbjtag.openocd.core.prefs
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/.settings/org.eclipse.embedcdt.managedbuild.cross.arm.core.prefs
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcAcmDemoCpp/.settings/org.eclipse.embedcdt.managedbuild.cross.core.prefs
ARM/Nordic/nRF52/nRF52840/exemples/TPHSensorTag/Eclipse/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/TPHDemo/Eclipse/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/ESBptx/Eclipse/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/ESBprx/Eclipse/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/dfu_usb_open/Eclipse/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/UartBleCentralScanDemo/Eclipse/.settings/language.settings.xml
ARM/Nordic/nRF52/nRF52840/exemples/UartBleCentralScanDemo/Eclipse/.settings/org.eclipse.embedcdt.debug.gdbjtag.openocd.core.prefs
ARM/Nordic/nRF52/nRF52840/exemples/UartBleCentralScanDemo/Eclipse/.settings/org.eclipse.embedcdt.managedbuild.cross.arm.core.prefs
ARM/Nordic/nRF52/nRF52840/exemples/UartBleCentralScanDemo/Eclipse/.settings/org.eclipse.embedcdt.managedbuild.cross.core.prefs
ARM/Nordic/nRF52/nRF52840/exemples/UartBleCentralScanDemo/Eclipse/Release/makefile
ARM/Nordic/nRF52/nRF52840/exemples/UartBleCentralScanDemo/Eclipse/Release/objects.mk
ARM/Nordic/nRF52/nRF52840/exemples/UartBleCentralScanDemo/Eclipse/Release/sources.mk
ARM/Nordic/nRF52/nRF52840/exemples/UartBleCentralScanDemo/Eclipse/Release/UartBleCentralScanDemo.elf
ARM/Nordic/nRF52/nRF52840/exemples/UartBleCentralScanDemo/Eclipse/Release/UartBleCentralScanDemo.hex
ARM/Nordic/nRF52/nRF52840/exemples/UartBleCentralScanDemo/Eclipse/Release/UartBleCentralScanDemo.map
ARM/Nordic/nRF52/nRF52840/exemples/UartBleCentralScanDemo/Eclipse/Release/src/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UartBleCentralScanDemo/Eclipse/Release/src/UartBleCentralScanDemo.d
ARM/Nordic/nRF52/nRF52840/exemples/UartBleCentralScanDemo/Eclipse/Release/src/UartBleCentralScanDemo.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/.settings/org.eclipse.embedcdt.debug.gdbjtag.openocd.core.prefs
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/.settings/org.eclipse.embedcdt.managedbuild.cross.arm.core.prefs
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/.settings/org.eclipse.embedcdt.managedbuild.cross.core.prefs
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/makefile
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/objects.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/sources.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/UsbCdcBleDemo.elf
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/UsbCdcBleDemo.hex
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/UsbCdcBleDemo.map
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/main.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/main.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/boards/boards.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/boards/boards.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/boards/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/fnmatch/fnmatch.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/fnmatch/fnmatch.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/fnmatch/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/fprintf/nrf_fprintf.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/fprintf/nrf_fprintf.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/fprintf/nrf_fprintf_format.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/fprintf/nrf_fprintf_format.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/fprintf/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/bsp/bsp.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/bsp/bsp.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/bsp/bsp_cli.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/bsp/bsp_cli.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/bsp/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/button/app_button.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/button/app_button.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/button/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/cli/cli_utils_cmds.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/cli/cli_utils_cmds.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/cli/nrf_cli.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/cli/nrf_cli.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/cli/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/cli/cdc_acm/nrf_cli_cdc_acm.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/cli/cdc_acm/nrf_cli_cdc_acm.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/cli/cdc_acm/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/cli/uart/nrf_cli_uart.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/cli/uart/nrf_cli_uart.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/cli/uart/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/log/src/nrf_log_backend_serial.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/log/src/nrf_log_backend_serial.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/log/src/nrf_log_backend_uart.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/log/src/nrf_log_backend_uart.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/log/src/nrf_log_default_backends.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/log/src/nrf_log_default_backends.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/log/src/nrf_log_frontend.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/log/src/nrf_log_frontend.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/log/src/nrf_log_str_formatter.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/log/src/nrf_log_str_formatter.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/log/src/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/pwr_mgmt/nrf_pwr_mgmt.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/pwr_mgmt/nrf_pwr_mgmt.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/pwr_mgmt/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/ringbuf/nrf_ringbuf.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/ringbuf/nrf_ringbuf.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/ringbuf/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/usbd/app_usbd.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/usbd/app_usbd.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/libraries/usbd/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/nrfx_clock.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/nrfx_clock.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/nrfx_gpiote.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/nrfx_gpiote.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/nrfx_power.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/nrfx_power.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/nrfx_systick.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/nrfx_systick.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/nrfx_uart.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/nrfx_uart.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/nrfx_uarte.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/nrfx_uarte.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/nrfx_usbd.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/nrfx_usbd.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/prs/nrfx_prs.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/prs/nrfx_prs.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/drivers/src/prs/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/legacy/nrf_drv_clock.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/legacy/nrf_drv_clock.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/legacy/nrf_drv_power.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/legacy/nrf_drv_power.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/legacy/nrf_drv_uart.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/legacy/nrf_drv_uart.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/legacy/subdir.mk
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/soc/nrfx_atomic.d
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/soc/nrfx_atomic.o
ARM/Nordic/nRF52/nRF52840/exemples/UsbCdcBleDemo/Eclipse/Release/src/nRF5_SDK/nrfx/soc/subdir.mk
